PORT=5001
MONGODB_URI=your_mongodb_atlas_connection_string
CLIENT_URL=http://localhost:5173

# Roboflow API Key
ROBOFLOW_API_KEY=your_roboflow_api_key

# Model 1: Pothole Detection Model Endpoint
ROBOFLOW_POTHOLE_ENDPOINT=https://serverless.roboflow.com/roadlens-omcpi/5

# Model 2: Vehicle Segmentation & Congestion Workflow Endpoint
ROBOFLOW_VEHICLE_WORKFLOW_ENDPOINT=https://serverless.roboflow.com/tejpal-singh-dogra/workflows/general-segmentation-api-5

# Model 3: Pedestrian Detection Workflow Endpoint
ROBOFLOW_PEDESTRIAN_WORKFLOW_ENDPOINT=https://serverless.roboflow.com/tejpal-singh-dogra/workflows/general-segmentation-api-6


# Cloudinary Image Storage
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=urban_intelligence/road_defects
