# Roboflow API Key
ROBOFLOW_API_KEY=your_roboflow_api_key

# Model 1: Pothole Detection Model Endpoint
ROBOFLOW_POTHOLE_ENDPOINT=https://serverless.roboflow.com/roadlens-omcpi/5

# Model 2: Vehicle Segmentation & Congestion Workflow Endpoint
ROBOFLOW_VEHICLE_WORKFLOW_ENDPOINT=https://serverless.roboflow.com/tejpal-singh-dogra/workflows/general-segmentation-api-5

API_URL=http://localhost:5001
VIDEO_PATH=./video/sample.mp4
FRAME_INTERVAL=10
SIMULATION_MODE=false
